#expense-summary {
  margin-bottom: 50px;
}

#expense-summary #empty-summary-message {
  margin-left: 60px;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
}

#expense-summary .summary {
  margin-left: 60px;
}

#expense-summary .summary .field-group {
  margin-bottom: 10px;
}

#expense-summary .summary .field-label {
  display: flex;
  color: #aaa;
  font-size: 24px;
}

#expense-summary .summary .field-label .field-value {
  margin: 0 5px;
  color: #cecece;
  font-weight: bold;
}

#expense-summary .summary .expense-bar {
  height: 3px;
  margin-top: 3px;
  border-radius: 10px;
  transition: all 0.3s;
}

#expense-summary #show-all {
  background-color: #23232e;
  font-size: 16px;
  color: #bbb;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 100px;
}

#expense-summary #show-all:hover,
#expense-summary #show-all:active {
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  #expense-summary #empty-summary-message {
    margin-left: 0;
    padding: 10px;
  }

  #expense-summary #filters {
    justify-content: center;
  }

  #expense-summary .summary {
    margin: 0;
  }

  #expense-summary #show-all {
    display: block;
    margin: 30px 40px 0;
  }
}

@media only screen and (max-width: 500px) {
  #expense-summary .summary {
    padding: 0 5px;
  }

  #expense-summary #show-all {
    margin: 20px 5px 0;
  }
}
