#auth #form-title {
  text-align: center;
  font-size: 35px;
}

#auth #auth-form {
  margin: auto;
  padding: 60px;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a24;
}

#auth-form .form-group {
  margin: 20px auto;
  font-size: 25px;
}

#auth-form input {
  font-size: 20px;
  margin-top: 10px;
  width: 100%;
  color: #eee;
  background-color: #15131a;
  border: 1px solid #2c2c3a;
  padding: 5px 10px;
}

#auth-form input:focus {
  border: 1px solid #3d1eca;
}

#auth-form #submit-button {
  width: 150px;
  margin: 30px auto 0;
  padding: 10px;
  font-size: 20px;
  color: #eee;
  background-color: #15131a;
  border: 2px solid #2c2c3a;
  cursor: pointer;
}

#auth-form #submit-button:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 12px rgba(119, 92, 240, 0.2);
}

#auth-form #submit-button:active {
  color: #775cf0;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

#auth .change-auth-type {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  #auth #auth-form {
    width: 75%;
  }
}

@media only screen and (max-width: 700px) {
  #auth #auth-form {
    width: 95%;
    padding: 60px 30px;
  }
}

@media only screen and (max-width: 500px) {
  #auth-form .form-group {
    margin: 20px 10px;
  }
}