#confirm-delete {
  padding: 40px;
  min-width: 395px;
}

#confirm-delete .confirm-delete-title {
  position: relative;
  top: -30px;
}

#confirm-delete .confirm-delete-warning {
  font-size: 18px;
}

#confirm-delete #confirm-delete-btn {
  margin: 40px auto 0;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #15131a;
  border: 2px solid #b13030;
  color: #ee3636;
  cursor: pointer;
  transition: all 0.2s;
}

#confirm-delete #confirm-delete-btn:hover {
  border: 2px solid #b13030;
  box-shadow: 0px 0px 12px rgba(189, 23, 23, 0.6);
}

#confirm-delete #confirm-delete-btn:active {
  box-shadow: 0px 0px 15px rgba(189, 23, 23, 0.6);
}

@media only screen and (max-width: 550px) {
  #confirm-delete {
    min-width: 80vw;
    padding: 40px 20px;
  }
}
