#primary-field {
  padding-bottom: 20px;
}

#primary-field select {
  background-color: transparent;
  color: #eee;
  padding: 10px 25px 10px 5px;
  border: none;
  border-bottom: 2px solid #3d1eca;
  font-size: 25px;
  appearance: none;
  cursor: pointer;
}

#primary-field select option {
  background-color: #222;
}

#primary-field .select-icon {
  bottom: 40px;
  left: 160px;
}

@media only screen and (max-width: 1000px) {
  #primary-field select {
    font-size: 20px;
  }

  #primary-field .select-icon svg {
    top: 5px;
    right: 23px;
  }
}
