#currency {
  padding-bottom: 20px;
}

#currency select {
  background-color: transparent;
  color: #eee;
  padding: 10px 25px 10px 5px;
  border: none;
  border-bottom: 2px solid #3d1eca;
  font-size: 25px;
  appearance: none;
  cursor: pointer;
}

#currency select option {
  background-color: #222;
}

#currency .select-icon {
  bottom: 40px;
  left: 90px;
}

@media only screen and (max-width: 1000px) {
  #currency select {
    font-size: 20px;
  }

  #currency .select-icon svg {
    top: 5px;
    right: 10px;
  }
}
