#settings {
  margin: 50px 100px;
  overflow-x: hidden;
}

#settings * {
  font-weight: normal;
}

#settings .settings-group {
  padding-bottom: 50px;
}

#settings .settings-group .sub-title {
  color: #aaa;
  font-weight: normal;
  margin-bottom: 20px;
}

#settings .settings-group .sub-title + * {
  margin-left: 20px;
}

#settings .select-icon {
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  #settings {
    margin: 50px;
  }

  #settings .select-icon svg {
    position: relative;
    width: 20px;
    height: 20px;
  }

  #settings .settings-group .sub-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  #settings {
    margin: 50px 20px;
  }
}
