.expense-modal {
  width: 785px;
  overflow: auto;
  padding: 60px;
  max-height: calc(80vh - 60px);
}

.expense-modal .title {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 50px;
}

.expense-modal #value-input {
  padding: 5px 10px;
  color: #eee;
  width: 300px;
  position: relative;
  top: -20px;
  font-size: 20px;
  background-color: #15131a;
  border: 1px solid #2c2c3a;
}

.expense-modal #value-input:focus {
  border: 1px solid #3d1eca;
}

.expense-modal .form-group * {
  font-weight: 400;
}

.expense-modal .form-group .add-option-button {
  display: none;
}

.expense-modal .form-group {
  margin-bottom: 30px;
}

.expense-modal .form-group .options {
  margin: 0;
}

.expense-modal .submit-btn {
  width: 160px;
  margin: 50px auto 50px;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131a;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  transition: all 0.2s;
}

.expense-modal .submit-btn:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 12px rgba(119, 92, 240, 0.2);
}

.expense-modal .submit-btn:active {
  color: #775cf0;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

@media only screen and (max-width: 1000px) {
  .expense-modal {
    width: calc(90vw - 40px);
  }
}

@media only screen and (max-width: 700px) {
  .expense-modal {
    padding: 40px;
  }

  .expense-modal .title {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 550px) {
  .expense-modal {
    width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 90px 20px 40px;
  }

  .expense-modal #value-input {
    width: 90%;
  }
}
