#expense-form {
  width: 40vw;
  margin: auto;
  font-size: 20px;
}

#expense-form .form-group {
  margin-bottom: 20px;
}

#expense-form label {
  text-align: center;
  display: block;
}

#expense-form input {
  padding: 5px 10px;
  color: #eee;
  width: 300px;
  margin: auto;
  display: block;
  font-size: 20px;
  background-color: #15131A;
  border: 1px solid #2c2c3a;
}

#expense-form input:focus {
  border: 1px solid #3d1eca;
}

#expense-form .options {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

#expense-form .option {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #15131A;
  border: 1px solid #2c2c3a;
  border-radius: 5px;
  cursor: pointer;
  transition: all .1s;
}

#expense-form .option:hover,
#expense-form .option.selected {
  border: 1px solid #441eee;
}

#expense-form button[type='submit'] {
  width: 150px;
  margin: 50px auto 0;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131A;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  transition: all .2s;
}

#expense-form button[type='submit']:hover {
  width: 170px;
  border: 2px solid #3d1eca;
}