#budget-wheel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -90px 150px 0px 140px;
}

#budget-wheel .wheel-numbers {
  min-width: 180px;
  position: relative;
  top: 55px;
  font-size: 23px;
  color: #bbb;
  text-align: center;
  margin: 5px 0;
}

#budget-wheel .wheel-numbers .spent {
  font-weight: bold;
  font-size: 25px;
  color: #eee;
  margin-right: 5px;
}

#budget-wheel .wheel-icon {
  position: relative;
  top: 95px;
}

#budget-wheel .wheel circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media only screen and (max-width: 1000px) {
  #budget-wheel {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 800px) {
  #budget-wheel {
    margin: -60px auto 50px;
    justify-self: center;
  }
}