#expense-chart {
  width: 40%;
  padding: 50px;
}

@media only screen and (max-width: 1600px) {
  #expense-chart {
    width: 70%;
  }
}

@media only screen and (max-width: 1250px) {
  #expense-chart {
    width: 95%;
    margin: auto;
    padding: 50px 0;
  }
}