#expense-chart {
  width: 900px;
  padding: 0 50px;
  position: relative;
}

@media only screen and (max-width: 1050px) {
  #expense-chart {
    width: 95%;
    margin: auto;
    padding: 50px 0;
  }
}

@media only screen and (max-width: 600px) {
  #expense-chart {
    height: 300px;
  }
}