#dashboard nav {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 35px;
}

#dashboard nav > * {
  font-weight: 300;
  margin: 40px 25px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all .2s;
}

#dashboard nav .active {
  font-weight: 500;
  font-size: 35px;
  margin-top: 20px;
  border-bottom: 2px solid #eee;
}

#dashboard form {
  width: 40vw;
  margin: auto;
  font-size: 20px;
}

#dashboard form .form-group {
  margin-bottom: 20px;
}

#dashboard form label {
  text-align: center;
  display: block;
}

#dashboard form input {
  padding: 5px 10px;
  color: #eee;
  width: 300px;
  margin: auto;
  display: block;
  font-size: 20px;
  background-color: #1b131f;
  border: 1px solid #34344e;
}

#dashboard form .options {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

#dashboard form .option {
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #34344e;
  background-color: #1b131f;
  border-radius: 5px;
  cursor: pointer;
}

#dashboard form button[type='submit'] {
  width: 150px;
  margin: 50px auto 0;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #1b131f;
  color: #eee;
  border: 2px solid #34344e;
  cursor: pointer;
}