#dashboard nav {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 50px;
}

#dashboard nav > * {
  font-weight: 300;
  margin: 30px 15px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all .2s;
}

#dashboard nav .active {
  font-weight: 500;
  margin-top: 20px;
  border-bottom: 2px solid #eee;
}

@media only screen and (max-width: 500px) {
  #dashboard nav {
    flex-direction: column;
  }

  #dashboard nav > * {
    margin: 5px auto;
    display: inline;
    text-align: center;
  }

  #dashboard nav .active {
    margin-top: 0;
  }
}