#features .feature:nth-child(odd) {
  background-color: #15131a;
}

#features .feature {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 30px;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

#features .feature .illustration {
  width: 900px;
  max-width: 800px;
  height: auto;
}

#features .feature .text {
  width: 30%;
}

#features .feature .text .description {
  color: #bbb;
}

#features .feature .bold {
  color: #eee;
  font-weight: bold;
}

#features #get-started-btn {
  width: 140px;
  text-align: center;
  margin: 50px 0;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131A;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  transition: all .2s;
  border: 2px solid #3d1eca;
}

#features #get-started-btn:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

@media only screen and (max-width: 1500px) {
  #features .feature {
    font-size: 25px;
  }

  #features .feature .illustration {
    width: 500px;
  }
}

@media only screen and (max-width: 1150px) {
  #features .feature {
    font-size: 20px;
  }

  #features .feature .illustration {
    width: 350px;
  }
}

@media only screen and (max-width: 800px) {
  #features .feature {
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    padding: 130px 0;
  }

  #features .feature:nth-child(even) {
    flex-direction: column-reverse;
  }

  #features .feature .illustration {
    margin-bottom: 80px;
    width: 450px;
    max-width: 90%;
  }

  #features .feature .text {
    width: auto;
    max-width: 80%;
    text-align: center;
  }

  #features .feature .title {
    margin-bottom: 50px;
  }

  #features #get-started-btn {
    margin: 100px auto;
  }
}