#fields .field-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#fields .field-header > * {
  margin: auto;
}

#fields .field-title {
  display: inline;
}

#fields #delete-options-btn {
  margin: 20px auto 0;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #15131A;
  border: 2px solid #b13030;
  color: #ee3636;
  cursor: pointer;
  transition: all .2s;
}

#fields #delete-options-btn:hover {
  border: 2px solid #b13030;
  box-shadow: 0px 0px 12px rgba(189, 23, 23, 0.6);
}

#fields #delete-options-btn:active {
  box-shadow: 0px 0px 15px rgba(189, 23, 23, 0.6);
}

#fields #delete-options-btn.disabled {
  border: 2px solid #2c2c3a;
  color: #666;
}

#fields #delete-options-btn.disabled:hover {
  box-shadow: none;
  border: 2px solid #2c2c3a;
}