#hero #intro {
  text-align: center;
  padding-top: 100px;
}

#hero #intro h1 {
  font-size: 65px;
  margin: 0;
}

#hero #intro h2 {
  font-weight: 300;
  color: #ccc;
  font-size: 35px;
}

#hero #features {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  list-style-type: circle;
}

#hero #features .feature {
  margin: 30px;
  font-size: 25px;
}

#hero .cta-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#hero .cta-buttons > * {
  width: 130px;
  text-align: center;
  margin: 50px;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131A;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  transition: all .2s;
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 12px rgba(119, 92, 240, 0.2);
}

#hero .cta-buttons .secondary {
  border: 2px solid #2c2c3a;
  box-shadow: none;
}

#hero .cta-buttons > *:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}