#hero {
  min-height: calc(100vh - 90px);
}

#hero #intro {
  text-align: center;
  padding-top: 25vh;
  margin-bottom: 100px;
}

#hero #intro .title {
  font-size: 65px;
  margin: 0;
}

#hero #intro .subtitle {
  font-weight: 300;
  color: #ccc;
  font-size: 35px;
}

#hero .cta-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#hero .cta-buttons > * {
  width: 130px;
  text-align: center;
  margin: 50px 25px;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131a;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid #3d1eca;
}

#hero .cta-buttons .secondary {
  border: 2px solid #47475e;
  box-shadow: none;
}

#hero .cta-buttons > *:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

#hero .cta-buttons .secondary:hover {
  border: 2px solid #3d1eca;
  box-shadow: none;
  color: #eee;
}

#hero .scroll-down-btn {
  background-color: transparent;
  padding: 50px;
  cursor: pointer;
  border: none;
  margin: auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: 2s float infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, 25px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@media only screen and (max-width: 700px) {
  #hero #intro {
    text-align: center;
    padding-top: 200px;
    margin-bottom: 100px;
  }

  #hero #intro .title {
    font-size: 45px;
  }

  #hero #intro .subtitle {
    font-size: 25px;
  }

  #hero .cta-buttons {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 100px;
  }

  #hero .cta-buttons > * {
    margin: 15px auto;
  }
}

@media only screen and (max-height: 950px) {
  #hero #intro {
    padding-top: 100px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-height: 800px) {
  #hero .scroll-down-btn {
    display: none;
  }
}
