.options {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
}

.option-color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 0;
}

.option {
  padding: 10px 15px;
  font-size: 22px;
  user-select: none;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: #15131A;
  border: 1px solid #2c2c3a;
  border-radius: 5px;
  cursor: pointer;
  transition: color .2s, border .2s, box-shadow .2s;
}

.option:hover,
.option.selected {
  border: 1px solid #441eee;
}

.option.selected {
  color: #775cf0;
  box-shadow: 0px 0px 12px rgba(119, 92, 240, 0.2);
}

.option.to-delete:hover,
.option.to-delete.selected {
  border: 1px solid #fa4242;
}

.option.to-delete.selected {
  color: #ec4a4a;
  box-shadow: 0px 0px 12px rgba(240, 92, 92, 0.2);
}

@media only screen and (max-width: 1000px) {
  .option {
    font-size: 18px;
    padding: 7px 14px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .option-color {
    height: 12px;
    width: 12px;
  }
}