#recent-expenses {
  margin-left: 50px;
  margin-bottom: 100px;
}

#recent-expenses .expense-color {
  background-color: orangered;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px 5px 0 0;
}

#recent-expenses .expense-color + div {
  display: inline;
}

#recent-expenses .day-info {
  font-size: 18px;
  margin-top: 40px;
}

#recent-expenses .day-info .expense-day {
  margin-right: 110px;
}

#recent-expenses .expense-for-date {
  margin-bottom: 20px;
}

#recent-expenses .expense-time {
  margin-right: 20px;
}

#recent-expenses .expense-details {
  margin-top: 15px;
  font-size: 21px;
}

#recent-expenses .expense-details .details-left {
  min-width: 300px;
}

#recent-expenses .expense-details .details-left > * {
  background-color: #23232e;
  padding: 4px 9px;
  border-radius: 2px;
  margin: 0 5px;
  font-size: 16px;
}

#recent-expenses .expense-details .details-right {
  margin-left: 55px;
  font-size: 20px;
}

#recent-expenses .expense-details .details-right .amount {
  margin-right: 13px;
  min-width: 50px;
}

#recent-expenses .expense-details .details-right .delete-expense {
  background-color: transparent;
  border: none;
  color: #eee;
  padding: 0;
  font-size: 16px;
  opacity: .5;
  cursor: pointer;
  transition: opacity .2s;
  transform: scale(1.4);
}

#recent-expenses .expense-details .details-right .delete-expense:hover {
  opacity: 1;
}

#recent-expenses #show-all {
  background-color: #23232e;
  color: #bbb;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 20px 10px;
}

@media only screen and (max-width: 550px) {
  #recent-expenses {
    margin-left: 10px;
  }

  #recent-expenses .expense-details .details-right {
    margin: 5px 5px 0 10px;
  }
}