#settings * {
  font-weight: normal;
}

#settings .settings-group {
  padding-left: 50px;
}

#settings .settings-group .sub-title {
  color: #aaa;
  font-weight: normal;
}

#settings #currency select {
  background-color: transparent;
  color: #eee;
  border: none;
  font-size: 25px;
  appearance: none;
}

#settings #currency select option {
  background-color: #222;
}