#stats ul {
  list-style: none;
}

#stats .filters {
  display: flex;
  justify-content: left;
}

#stats .filters .filter-btn {
  margin: 0 15px;
  font-size: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: #aaa;
  transition: all .2s;
  padding-bottom: 5px;
  cursor: pointer;
}

#stats .filters .filter-btn.active,
#stats .filters .filter-btn:hover {
  border-bottom: 2px solid #bbb;
  color: #eee;
}

#stats .summary .category-group {
  margin-bottom: 10px;
}

#stats .summary .category-label {
  display: flex;
  color: #aaa;
  font-size: 20px;
}

#stats .summary .category-label .category-value {
  margin: 0 5px;
  color: #cecece;
  font-weight: bold;
}

#stats .summary .expense-bar {
  height: 2px;
  margin-top: 3px;
}

#stats #expense-summary #show-all {
  background-color: #23232e;
  color: #bbb;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 40px;
}