#hero {
  min-height: calc(100vh - 90px);
  padding-top: 20vh;
}

#hero .flex-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

#hero #intro {
  margin-bottom: 50px;
}

#hero #intro .title {
  font-size: 65px;
  margin: 0;
}

#hero #intro .subtitle {
  font-weight: 300;
  color: #ccc;
  font-size: 35px;
}

#hero .cta-buttons {
  display: flex;
}

#hero .cta-buttons > * {
  width: 130px;
  text-align: center;
  display: block;
  padding: 10px;
  font-size: 20px;
  background-color: #15131a;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
  border: 2px solid #3d1eca;
}

#hero .cta-buttons > *:first-child {
  margin-right: 30px;
}

#hero .cta-buttons .secondary {
  border: 2px solid #47475e;
  box-shadow: none;
}

#hero .cta-buttons > *:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

#hero .cta-buttons .secondary:hover {
  border: 2px solid #3d1eca;
  box-shadow: none;
  color: #eee;
}

#hero .hero-image {
  width: 50vw;
  max-height: 600px;
}

#hero .scroll-down-btn {
  background-color: transparent;
  padding: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  animation: 2s float infinite ease-in-out;
}

#hero .scroll-down-btn:hover,
#hero .scroll-down-btn:active {
  box-shadow: none;
}

@keyframes float {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, 25px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@media only screen and (max-width: 1200px) {
  #hero .flex-group {
    justify-content: center;
    flex-direction: column;
  }

  #hero #intro {
    text-align: center;
    margin-bottom: 50px;
  }

  #hero .cta-buttons {
    justify-content: center;
  }

  #hero .hero-image {
    position: relative;
    opacity: .5;
    max-height: auto;
    width: 90vw;
    top: -350px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1200px) and (max-height: 700px),
only screen and (max-width: 600px) and (max-height: 830px) {
  #hero .scroll-down-btn {
    display: none;
  }
}