.detailed-expenses {
  display: flex;
  flex-wrap: wrap;
}

.detailed-expense {
  margin: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 10px;
  border-left: 4px solid #2f2f5c;
}

.detailed-expense:hover {
  background-color: #1a1a22;
}

.detailed-expense .expense-time {
  margin-right: 5px;
  min-width: 70px;
}

.detailed-expense .expense-details {
  margin-top: 15px;
  font-size: 21px;
  justify-content: space-between;
}

.detailed-expense .expense-details .details-left {
  flex-wrap: wrap;
}

.detailed-expense .expense-details .details-left .expense-field {
  background-color: #23232e;
  padding: 4px 9px;
  border-radius: 2px;
  margin: 0 5px;
  font-size: 16px;
}

.detailed-expense .details-right {
  margin-left: 55px;
  font-size: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.detailed-expense .expense-details .details-right .amount {
  white-space: nowrap;
}

.detailed-expense .details-right .delete-expense {
  background-color: transparent;
  border: none;
  color: #eee;
  padding: 0;
  margin-left: 10px;
  font-size: 16px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.4);
}

.detailed-expense .details-right .delete-expense:hover,
.detailed-expense .details-right .delete-expense:active {
  opacity: 1;
  color: #ee3636;
  box-shadow: none;
}

@media only screen and (max-width: 550px) {
  .detailed-expense {
    background-color: #1a1a22;
    width: 100%;
    margin: 10px 10px 10px 0;
  }

  .detailed-expense .expense-details .details-right {
    margin: 5px 5px 0 10px;
  }

  .detailed-expense .expense-details .details-right .amount {
    margin-right: 5px;
  }
}