#info {
  margin-bottom: 40px;
}

#info .user-info {
  font-size: 20px;
}

#info .tertiary-title {
  margin: 5px 0;
  font-size: 23px;
}

#info .tertiary-title + * {
  margin-left: 15px;
  color: #bbb;
}

#info #logout-btn {
  margin-top: 20px;
  padding: 5px 15px;
}