#settings {
  margin: 50px auto;
  width: 40%;
  overflow-x: hidden;
}

#settings .title {
  text-align: center;
  font-size: 35px;
  margin-top: 0;
}

#settings * {
  font-weight: normal;
}

#settings .settings-group .sub-title {
  color: #aaa;
  font-weight: normal;
  margin-bottom: 20px;
}

#settings .settings-group .sub-title + * {
  margin-left: 20px;
}

#settings .select-icon {
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 1900px) {
  #settings {
    width: 65%;
  }
}

@media only screen and (max-width: 1300px) {
  #settings {
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  #settings {
    margin: 50px;
    width: auto;
  }

  #settings .select-icon svg {
    position: relative;
    width: 20px;
    height: 20px;
  }

  #settings .settings-group .sub-title {
    font-size: 22px;
  }
}

@media only screen and (max-width: 600px) {
  #settings {
    margin: 50px 20px;
  }
}

@media only screen and (max-width: 400px) {
  #settings .settings-group .sub-title + * {
    margin-left: 10px;
  }
}
