#nav-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#nav-buttons button {
  margin: 0 15px 15px;
}

#nav-buttons button.disabled {
  color: #aaa;
}

#nav-buttons button.disabled {
  border: 2px solid #2c2c3a;
  color: #666;
  cursor: default;
}

#nav-buttons button.disabled:hover {
  box-shadow: none;
  border: 2px solid #2c2c3a;
}