.fields-group .fields {
  display: flex;
  justify-content: center;
}

.fields-group .add-field-button {
  display: inline;
  background-color: #008cff;
  background: linear-gradient(to bottom right, #00ccff, #7330e0);
  border-radius: 50%;
  border: none;
  color: #eee;
  padding: 0;
  width: 35px;
  height: 35px;
  margin: 15px 0 15px 15px;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}