#field-form {
  padding: 60px;
}

#field-form .field-title {
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 23px;
}

#field-form .form-group label {
  font-size: 20px;
}

#field-form .field-input {
  display: block;
  margin-bottom: 30px;
  margin-top: 10px;
  margin: 10px auto 30px auto;
  padding: 5px 10px;
  color: #eee;
  display: block;
  font-size: 20px;
  background-color: #15131a;
  border: 1px solid #2c2c3a;
}

#field-form input[type='color'] {
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 10px 0 20px 0;
  padding: 0;
}

#field-form .field-cta {
  width: 100px;
  margin: 20px auto 0;
  display: block;
  padding: 10px;
  font-size: 18px;
  background-color: #15131a;
  border: 2px solid #2c2c3a;
  color: #eee;
  cursor: pointer;
}

#field-form .field-cta:hover {
  border: 2px solid #3d1eca;
  box-shadow: 0px 0px 12px rgba(119, 92, 240, 0.2);
}

#field-form .field-cta:active {
  color: #775cf0;
  box-shadow: 0px 0px 15px rgba(119, 92, 240, 0.4);
}

@media only screen and (max-width: 550px) {
  #field-form {
    padding: 90px 40px 40px;
  }

  #field-form .field-title {
    margin-top: -20px;
    margin-bottom: 80px;
  }

  #field-form .field-input {
    width: 100%;
  }

  #field-form .field-cta {
    margin-top: 50px;
    font-size: 16px;
  }
}
