#fields .field-header {
  display: flex;
  margin-left: 20px;
  transition: all .2s;
}

#fields .field-header.disabled {
  opacity: .5;
}

#fields .field-title {
  display: inline;
}

#fields .field-header .toggle {
  position: relative;
  top: 15px;
}

#fields .field-header .add-option-button {
  background-color: #008cff;
  background: linear-gradient(to bottom right, #00ccff, #7330e0);
  border-radius: 50%;
  border: none;
  color: #eee;
  padding: 0;
  width: 35px;
  height: 35px;
  margin: 15px;
  font-size: 25px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

#fields .options {
  margin-left: 40px;
}

#fields #delete-options-btn {
  margin: 20px auto 0;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #15131a;
  border: 2px solid #b13030;
  color: #ee3636;
  cursor: pointer;
  transition: all 0.2s;
}

#fields #delete-options-btn:hover {
  border: 2px solid #b13030;
  box-shadow: 0px 0px 12px rgba(189, 23, 23, 0.6);
}

#fields #delete-options-btn:active {
  box-shadow: 0px 0px 15px rgba(189, 23, 23, 0.6);
}

#fields #delete-options-btn.disabled {
  border: 2px solid #2c2c3a;
  color: #666;
  cursor: default;
}

#fields #delete-options-btn.disabled:hover {
  box-shadow: none;
  border: 2px solid #2c2c3a;
}

@media only screen and (max-width: 1000px) {
  #fields .field-title {
    font-size: 20px;
  }

  #fields .field-header .toggle {
    top: 10px;
  }

  #fields .field-header .add-option-button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    font-size: 20px;
  }

  #fields .options {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  #fields .field-header {
    margin-left: 10px;
  }

  #fields .options {
    margin-left: 10px;
  }
}
